<% include include/main-header %>

<link href="plugins/datetime-picker/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">	
   		<!-- Header Starts here-->
  		<% include include/header %>
  		<!-- Header Ends here-->
  		
  		<!-- Sidebar Starts Here-->
  			<% include include/sidebar %>
    	<!-- Sidebar Ends Here-->
		<div class="content-wrapper">
    	  	<!-- Content Header (Page header) -->
    		<section class="content-header">
      			<h1>Task <small><% if (typeof contentObj.name !== 'undefined' && contentObj.name !== null) { %><%= contentObj.name %><% } else{	%>Add new<% }%></small></h1>
      			<ol class="breadcrumb">
        			<li><a href="<%= backendDirectory %>/index"><i class="fa fa-dashboard"></i> Home</a></li>
        			<li class="active">Task</li>
      			</ol>
    		</section>	
    		<section class="content">
      			<div class="row">
            				<div class="panel-body no-padding-top bg-white"> 
            					<% if (typeof queryStr !== 'undefined' && queryStr !== null) {
    								if(queryStr.error_msg) {	%>
									<div class="alert alert-danger alert-dismissable">
             							<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                						<%= queryStr.error_msg %>
            						</div>
            						<% }
           							if(queryStr.success_msg) {	%>
										<div class="alert alert-success alert-dismissable">
             								<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                							<%= queryStr.success_msg %>
            							</div>
            						<%	}
            					}	%>
            					<form class="form-horizontal" action="<%= backendDirectory %>/save/task" method="POST">
            						<input type="hidden" class="form-control" id="table_name" name="table_name" value="tasks">
      								<input type="hidden" class="form-control" id="unique_field" name="unique_field" value="code">
      								<input type="hidden" class="form-control" id="id" name="id" value="<% if (typeof contentObj._id !== 'undefined' && contentObj._id !== null) { %><%= contentObj._id %><% } %>">
      								<input type="hidden" class="form-control" id="editorField" name="editorField" value="<% if (typeof editorField !== 'undefined' && editorField !== null) { %><%= editorField %><% }else{ %>_id<% } %>">
      								<input type="hidden" class="form-control" id="editorValue" name="editorValue" value="<% if (typeof editorValue !== 'undefined' && editorValue !== null) { %><%= editorValue %><% } %>">
            						<div class="form-group">
                  						<label class="control-label col-md-2" for="first-name">Name<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-4">
                    						<input type="text" required="required" id="name" name="name" class="form-control col-md-5 col-xs-12" value="<% if (typeof contentObj.name !== 'undefined' && contentObj.name !== null) { %><%= contentObj.name %><% } %>">
                  						</div>
                					</div>
              						<div class="form-group">
                  						<label class="control-label col-md-2" for="">Reported by<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-4">
                   							<input type="text" required="required" class="form-control col-md-5 col-xs-12" id="reported_by" name="reported_by" value="<% if (typeof contentObj.reported_by !== 'undefined' && contentObj.reported_by !== null) { %><%= contentObj.reported_by %><% } %>">
                  						</div>
                					</div>
                					<div class="form-group">
                  						<label class="control-label col-md-2" for="">Project</label>
                  						<div class="col-md-6 col-lg-4">
                  							<select required="required" class="form-control col-md-5 col-xs-12" name="project" id="project"></select>
                  						</div>
                					</div>
                					<div class="form-group">
                  						<label class="control-label col-md-2" for="">Assigned to<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-4">
                   							<input type="text" required="required" class="form-control col-md-5 col-xs-12" id="assigned_to" name="assigned_to" value="<% if (typeof contentObj.assigned_to !== 'undefined' && contentObj.assigned_to !== null) { %><%= contentObj.assigned_to %><% } %>">
                  						</div>
                					</div>
                					<div class="form-group">
                  						<label class="control-label col-md-2" for="">Description</label>
                  						<div class="col-md-6 col-lg-4">
                   							<textarea class="form-control col-md-5 col-xs-12" id="description" name="description"><% if (typeof contentObj.description !== 'undefined' && contentObj.description !== null) { %><%= contentObj.description %><% } %></textarea>
                  						</div>
                					</div>
                					<div class="form-group">
										<label class="col-sm-2 control-label">Expected Close </label>
										<div class="col-md-6 col-lg-4">
										<div class="input-group date form_datetime " style="max-width:300px;" >
                    						<input class="form-control col-md-5 col-xs-12" required type="text" id="end_date" name="end_date" value="" readonly>
                    						<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                						</div>
                						</div>
                            		</div>
                					<div class="form-group">
										<label class="col-sm-2 control-label">Task Start </label>
										<div class="col-md-6 col-lg-4">
										<div class="input-group date form_datetime " style="max-width:300px;" >
                    						<input class="form-control col-md-5 col-xs-12" required type="text" id="start_date" name="start_date" value="" readonly>
                    						<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                						</div>
                						</div>
                            		</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Due Date </label>
										<div class="col-md-6 col-lg-4">
											<div class="input-group date form_datetime " style="max-width:300px;" >
                    							<input class="form-control col-md-5 col-xs-12" required type="text" id="due_date" name="due_date" value="" readonly>
                    							<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                							</div>
                            			</div>
                            		</div>
							                 
									<div class="form-group">
										<label class="col-sm-2 control-label">Estimated Hour </label>
										<div class="col-md-6 col-lg-4">
											<input name="task_estimated_hours" class="form-control num" type="text" value="<% if (typeof contentObj.task_estimated_hours !== 'undefined' && contentObj.task_estimated_hours !== null) { %><%= contentObj.task_estimated_hours %><% } %>" id="task_estimated_hours">
										</div>
									</div>                                                                 
									<div class="form-group">
										<label class="col-sm-2 control-label">Rate </label>
										<div class="col-md-6 col-lg-4">
											<input name="task_rate" class="form-control num" type="text" value="<% if (typeof contentObj.task_rate !== 'undefined' && contentObj.task_rate !== null) { %><%= contentObj.task_rate %><% } %>" id="task_rate">
										</div>
									</div>
                					<div class="form-group">
    									<label for="" class="col-sm-2 control-label">Status</label>
    									<div class="col-sm-7" style="margin-top:6px;">
    										<div STYLE="margin-right:10px;display:inline-block;">
      		  									<label> <input type="radio" id="Status" name="Status" value="1" <% if (typeof contentObj.Status !== 'undefined' && contentObj.Status !== null && contentObj.Status == 1) { %>checked<% } %> > <strong style="font-weight:600">Active</strong></label>
    			  							</div>
				  							<div STYLE="display:inline-block;">
      		  									<label> <input type="radio" id="Status" name="Status" value="0" <% if (typeof contentObj.Status !== 'undefined' && contentObj.Status !== null && contentObj.Status == 0) { %>checked<% } %> > <strong style="font-weight:600">Inactive</strong></label>
    			  							</div>
										</div>
									</div>
                					<div class="form-group">
                   						<div class="col-md-9 col-lg-6" align="CENTER">
               								<div class="submit-btn-setting"> <button type="submit" class="btn btn-primary btn-color margin-right-5 btn-sm">Submit</button>
               								<% if (typeof contentObj._id !== 'undefined' && contentObj._id !== null) {	%>
               									<a href="<%= backendDirectory %>/list/categories" class="btn btn-danger btn-sm">Cancel</a>
               								<%	}else{	%>
               									<button type="reset" class="btn btn-danger btn-sm">Reset</button>
               								<% } %>
               								</div>
               							</div>
                					</div>
              					</form>
              				</div>
            	</div>
      		</section>
    		<!--//body content--> 
  		</div>
  		<!--//Main Content--> 
	
		<!-- Footer Starts Here-->
			<% include include/footer %>
		<!-- Footer Ends Here-->
</div>
<!-- Page-Level Plugin Scripts-->
<script type="text/javascript" src="plugins/datetime-picker/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript">
	$('.form_datetime').datetimepicker({
		weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
		pickerPosition: "bottom-left",		
        showMeridian: 1,
		pickTime: 0
	});

$(function () {
	load_projects();
});
function load_projects(){
		var jsonRow=backendDirectory+"/api_fetch_list?start=0&limit=100&collection=projects";
		var projectSelectedStr="";
		<% if (typeof contentObj.project_uuid !== 'undefined' && contentObj.project_uuid !== null) { %>
			projectSelectedStr="<%= contentObj.project_uuid %>";
		<% } %>
		$.getJSON(jsonRow,function(html){
			var contentHtml="<option value=''>--Select--</option>";
			if(html.aaData.length>0){
					$.each(html.aaData, function(i,row){
						contentHtml+="<option value='"+row._id+"' ";
						if(row._id==projectSelectedStr){
							contentHtml+=" selected ";
						}
						contentHtml+=">"+row.name+"</option>";
					});
     		}
			$("#project").html(contentHtml);
		});
}
</script>
</body>
</html>