<% include include/main-header %>

<link href="plugins/datetime-picker/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<style>
.box-primary h4 {
    border-bottom: 1px solid #ddd;
    border-radius: 3px;
    font-size: 20px;
    margin: 7px 5px 0 0;
    padding: 9px;
}
</style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">	
   		<!-- Header Starts here-->
  		<% include include/header %>
  		<!-- Header Ends here-->
  		
  		<!-- Sidebar Starts Here-->
  			<% include include/sidebar %>
    	<!-- Sidebar Ends Here-->
		<div class="content-wrapper">
    	  	<!-- Content Header (Page header) -->
    		<section class="content-header">
      			<h1>Basic details of your system</h1>
      			<ol class="breadcrumb">
        			<li><a href="<%= backendDirectory %>/index"><i class="fa fa-dashboard"></i> Home</a></li>
        			<li class="active">Organisation</li>
      			</ol>
    		</section>	
    		<section class="content">
      			<div class="row">
            				<div class="panel-body no-padding-top bg-white"> 
            					<% if (typeof queryStr !== 'undefined' && queryStr !== null) {
    								if(queryStr.error_msg) {	%>
									<div class="alert alert-danger alert-dismissable">
             							<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                						<%= queryStr.error_msg %>
            						</div>
            						<% }
           							if(queryStr.success_msg) {	%>
										<div class="alert alert-success alert-dismissable">
             								<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                							<%= queryStr.success_msg %>
            							</div>
            						<%	}
            					}	%>
            					<% if (typeof queryStr.success !== 'undefined' && queryStr.success !== null) {	%>
            						<div class="alert alert-success alert-dismissable">
             								<%= queryStr.success %>
            						</div>
            						
            						<h3>Add basic modules to your system by clicking this button :</h3>
            						<a href="<%= backendDirectory %>/module" class="btn btn-danger">Set modules</a>
            					<% }else{	%>
            					<form class="form-horizontal" action="<%= backendDirectory %>/default_system" method="POST" id="contentForm">
            						<input type="hidden" class="form-control" id="table_name" name="table_name" value="systems">
      								<input type="hidden" class="form-control" id="unique_field" name="unique_field" value="name">
      								<input type="hidden" class="form-control" id="id" name="id" value="<% if (typeof contentObj._id !== 'undefined' && contentObj._id !== null) { %><%= contentObj._id %><% } %>">
      								<input type="hidden" class="form-control" id="editorField" name="editorField" value="<% if (typeof editorField !== 'undefined' && editorField !== null) { %><%= editorField %><% }else{ %>_id<% } %>">
      								<input type="hidden" class="form-control" id="editorValue" name="editorValue" value="<% if (typeof editorValue !== 'undefined' && editorValue !== null) { %><%= editorValue %><% } %>">
            						<input type="hidden" class="form-control" id="data" name="data" value="">
            						
            						<input type="hidden" class="form-control" id="system_version" name="system_version" value="1">
            						<input type="hidden" class="form-control" id="uuid_created_by" name="uuid_created_by" value="<% if (typeof authenticatedUser._id !== 'undefined' && authenticatedUser._id !== null) {	%><%= authenticatedUser._id %><%	}	%>">
            						<div class="row">
            						<div class="col-xs-6"><div class="box box-primary">
            						<h4>Basic Details</h4>
            						<div class="box-body"><div class="row"><div class=" col-sm-12 col-lg-11">
            						<div class="form-group">
                  						<label class="control-label col-md-3" for="first-name">Name<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-7">
                    						<input type="text" required="required" id="name" name="name" class="form-control col-md-5 col-xs-12" value="<% if (typeof contentObj.name !== 'undefined' && contentObj.name !== null) { %><%= contentObj.name %><% } %>">
                  						</div>
                					</div>
                					 <div class="form-group" style="margin-top:10px;">
										<label class="col-sm-3 control-label">Established Date </label>
										<div class="col-md-6 col-lg-7">
										<div class="input-group date form_datetime " style="max-width:300px;" >
                    						<input class="form-control col-md-5 col-xs-12" required type="text" id="established_on" name="established_on" value="<% if (typeof contentObj.established_on !== 'undefined' && contentObj.established_on !== null) { %><%= contentObj.established_on %><% } %>" readonly>
                    						<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                						</div>
                						</div>
                            		</div>
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="">Organisation Type <span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-7">
                  							<select class="form-control col-md-5 col-xs-12" id="organisation_type" name="organisation_type">
                  								<option value="cricket_club" <% if (typeof contentObj.organisation_type !== 'undefined' && contentObj.organisation_type !== null  && contentObj.organisation_type == "cricket_club") { %>selected<% } %>>Cricket Club</option>
                  								<option value="business" <% if (typeof contentObj.organisation_type !== 'undefined' && contentObj.organisation_type !== null  && contentObj.organisation_type == "business") { %>selected<% } %>>Business</option>
                  							</select>
                  						</div>
                					</div>
              						
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="">Description</label>
                  						<div class="col-md-6 col-lg-7">
                   							<textarea class="form-control col-md-5 col-xs-12" row="10" id="description" name="description"><% if (typeof contentObj.description !== 'undefined' && contentObj.description !== null) { %><%= contentObj.description %><% } %></textarea>
                  						</div>
                					</div>
                					<div class="form-group">
    									<label for="" class="col-sm-3 control-label">Status</label>
    									<div class="col-sm-7" style="margin-top:6px;">
    										<div STYLE="margin-right:10px;display:inline-block;">
      		  									<label> <input type="radio" id="status" name="status" value="1" <% if (typeof contentObj.status !== 'undefined' && contentObj.status !== null && contentObj.status == 1) { %>checked<% } %> > <strong style="font-weight:600">Active</strong></label>
    			  							</div>
				  							<div STYLE="display:inline-block;">
      		  									<label> <input type="radio" id="status" name="status" value="0" <% if (typeof contentObj.status !== 'undefined' && contentObj.status !== null && contentObj.status == 0) { %>checked<% } %> > <strong style="font-weight:600">Inactive</strong></label>
    			  							</div>
										</div>
									</div>
                            		</div></div>
                            		</div></div></div>
							        <div class="col-xs-6"><div class="box box-primary">
							        <h4>Contact Details</h4>
            						<div class="box-body"><div class="row"><div class=" col-sm-12 col-lg-11">
							       		<div class="form-group">
                  						<label class="control-label col-md-3" for="">Address<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-9">
                   							<textarea required="required" class="form-control col-md-5 col-xs-12" row="4" id="address" name="address" ><% if (typeof contentObj.address !== 'undefined' && contentObj.address !== null) { %><%= contentObj.address %><% } %></textarea>
                  						</div>
                					</div>
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="">Telephone<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-7">
                  							<input type="text" required="required" class="form-control col-md-5 col-xs-12" id="telephone" name="telephone" value="<% if (typeof contentObj.telephone !== 'undefined' && contentObj.telephone !== null) { %><%= contentObj.telephone %><% } %>">
                  						</div>
                					</div>
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="">E-mail<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-7">
                   							<input type="text" required="required" class="form-control col-md-5 col-xs-12" id="email" name="email" value="<% if (typeof contentObj.email !== 'undefined' && contentObj.email !== null) { %><%= contentObj.email %><% } %>">
                  						</div>
                					</div>
                					<h3>Main contact</h3>
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="">Contact name <span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-7">
                   							<input type="text" required="required" class="form-control col-md-5 col-xs-12" id="contact_name" name="contact_name" value="<% if (typeof contentObj.contact_name !== 'undefined' && contentObj.contact_name !== null) { %><%= contentObj.contact_name %><% } %>">
                  						</div>
                					</div>
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="">Contact e-mail<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-7">
                   							<input type="text" required="required" class="form-control col-md-5 col-xs-12" id="contact_email" name="contact_email" value="<% if (typeof contentObj.contact_email !== 'undefined' && contentObj.contact_email !== null) { %><%= contentObj.contact_email %><% } %>">
                  						</div>
                					</div>
									</div></div>
                					</div></div></div>
                					<div class="col-xs-12">
                					<div class="form-group">
                   						<div class="col-md-9 col-lg-12" align="CENTER">
               								<div class="submit-btn-setting"> <button type="submit" class="btn btn-primary btn-color margin-right-5 btn-sm">Submit</button>
               								<% if (typeof contentObj._id !== 'undefined' && contentObj._id !== null) {	%>
               									<a href="<%= backendDirectory %>/list/systems" class="btn btn-danger btn-sm">Cancel</a>
               								<%	}else{	%>
               									<button type="reset" class="btn btn-danger btn-sm">Reset</button>
               								<% } %>
               								</div>
               							</div>
                					</div>
                					</div>
                					</div>
              					</form>
              					<% } %>
              				</div>
            	</div>
      		</section>
    		<!--//body content--> 
  		</div>
  		<!--//Main Content--> 
	
		<!-- Footer Starts Here-->
			<% include include/footer %>
		<!-- Footer Ends Here-->
</div>
<!-- Page-Level Plugin Scripts-->
<script src="js/jquery.validate.js"></script>
<script type="text/javascript" src="plugins/datetime-picker/bootstrap-datetimepicker.js" charset="UTF-8"></script>

<script type="text/javascript">
	$('.form_datetime').datetimepicker({
		weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
		pickerPosition: "bottom-left",		
        showMeridian: 1,
		pickTime: 0
	});

$(function () {
	<% if (typeof contentObj._id == 'undefined' && contentObj._id == null) { %>
		$("input[name=status][value=1]").prop("checked",true);
	<% } %>
	
	// validate form on keyup and submit
		$("#contentForm").validate({
			ignore: "",
			onkeyup: false,
			errorClass: 'error',
			validClass: 'valid',
			errorElement: "em",
			errorPlacement: function(error, element) {
				if (element.attr("name") == "established_on" ) {
                	$(element).closest('div').after(error);
            	}else{
					$(element).closest('div').append(error);
				}
			},
			onfocusout: false,
			invalidHandler: function(form, validator) {
				var errors = validator.numberOfInvalids();
				
				if (errors) {                    
					validator.errorList[0].element.focus();
				}
			},
			rules: {
				name: { required: true },
				address: { required: true },
				telephone: { required: true },
				email: { required: true, email : true },
				organisation_type : { required: true },
			},
			submitHandler: function(form) {
				//save data as json in data field, use dataAsJson function to populate that field
 				dataAsJson('contentForm', form);
 			}
		});	
});
</script>
</body>
</html>