<% include include/main-header %>
<% 
var keywordStr="";
if (typeof searched_keyword !== 'undefined' && searched_keyword !== null) {
	keywordStr=searched_keyword;
}

%>

<!-- page specific css -->
<link rel="stylesheet" href="css/basictable.css">
<link href="css/bootstrap-toggle.min.css" rel="stylesheet">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

  		<!-- Header Starts here-->
  		<% include include/header %>
  		<!-- Header Ends here-->
  		
  		<!-- Sidebar Starts Here-->
  		<% include include/sidebar %>
    	<!-- Sidebar Ends Here-->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 id="pageMainHeading">
        Players
        <small>LIST VIEW</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="<%= backendDirectory %>/index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active" id="breadcrumbTitle">Players</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
				<div CLASS="row">
					<div CLASS="col-md-12">
						<div class="clearfix hidden-xs">
      						<div class="form-group no-margin">
      							<div class="pull-left margin-bottom-10 ">
									<div class="form-inline" style="">                 	          
                 						<div class="btn-inline display-inline-block">
                 							<label>Load a team</label>
											<select id="load_teams" name="load_teams" class="form-control">
											
											</select>
										</div>
										<a href="javascript:void(0)" onClick="__showAddPopup(); return false;" data-toggle="modal" onclick="#" class="btn btn-danger btn-color padingmix  btn-icon-left btn-sm editorLink"> <i class="fa fa-group"></i>Add player(s) to team</a>
                                    </div>
         						</div>
     							<div class="pull-right margin-bottom-10 ">
									<div class="form-inline" style=""> 
										<div class="btn-inline display-inline-block">
                 							<label>Filter</label>
											<select id="player_type_uuid" name="player_type_uuid" class="form-control">
											
											</select>
											<input class="form-control searchFieldClass" style="min-width:225px; height:36px;" required id="searchField" placeholder="Search here..." value="<%= keywordStr %>">
											<button class="btn btn-left-align btn-link no-shadow bg-transparent no-padding-top padding-right-10 right-auto left" type="button" id="searchBtn"><i class="glyphicon glyphicon-search"></i></button>
										</div>
                                        <a href="/user" class="btn btn-danger btn-color padingmix  btn-icon-left btn-sm editorLink"> <i class="fa fa-plus"></i>Enter new player</a>
                  						<button class="btn btn-primary btn-circle" type="button" onclick="refresh_data()">  <i class="fa fa-refresh"></i></button>
                  					</div>
         						</div>
      						</div>
     					</div>
						
						<div class="visible-xs ">
							<div class="row">
								<div class="col-lg-6 col-sm-12 col-xs-12">
									<div>
										<form class="form-inline" method="get" action=""> 
											<input class="form-control xs-margin-btm10 searchFieldClass" required id="smallSearchField" name="keyword" placeholder="Search..." type="text" value="<%= keywordStr %>">
                     						<a href="/user" class="btn btn-danger btn-color padingmix btn-icon-left btn-sm editorLink" STYLE="width:100%; margin:10px 0px;"> <i class="fa fa-plus"></i>Enter new player</a>
                  						</form>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
<input id="selectedRows" type="hidden" value="">
											
<div id="addTeam" class="modal fade" role="dialog" style="display: none;" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<!-- Modal content-->
    	<div class="modal-content">
     		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" onClick="$('#add_new_team').val(''); clearPopup();">×</button>
        		<h3 class="modal-title">Add player(s) to team</h3>
      		</div>
      		<div class="modal-body">
       			<h4>Add to existing team</h4>
       			<p><span class="label-default" id="ex_msg_suc" style="color:#006600"></span><span class="label-default" id="ex_msg_err" style="color:#FF0000"></span></p>
        		<select name="teams_list" id="teams_list" class="form-control" size="10" style="width:100%">
					
				</select>
				<div class="col-md-12" style="padding-top:10px;">
					<button type="button" class="btn btn-info sm-btn" onclick="clearPopup(); add_to_existing_team();" style="float:right;">Add to existing team(s)</button>
				</div>
						
        		<h4>Add to new team</h4>
        			<div class="row">
        				<div class="col-md-12" id="n_msg_err" style="color:#FF0000;"></div>
        				<div class="col-md-12" id="n_msg_suc" style="color:#006600;"></div>
        			</div>
					<div class="row">
						<div class="col-md-8">
							<input class="form-control" name="add_new_team" id="add_new_team" value="" type="text">
						</div>
						<div class="col-md-4">
							<button type="button" class="btn btn-info sm-btn" onclick="clearPopup(); add_new_team();">Add new</button>
						</div>
					</div>
      		</div>
      		<div class="modal-footer">
      			<button type="button" class="btn btn-default" data-dismiss="modal" onClick="$('#add_new_team').val(''); clearPopup(); ">Close</button>
      		</div>
    	</div>
	</div>
</div>
      		<div class="row">
	  			<div class="content table-responsive table-full-width">
		 			<div class="table-responsive" style="border:none;" >
                                <table class="table table-striped  table-bordered table-hover custom-tbl-st bt" id="table-breakpoint"  style="background-color: rgb(255, 255, 255); border-radius: 4px;" >
                                	<thead>
                                       <th><input type="checkbox" class="chk_all"</th>
                                       <th>Username</th>
                                       <th>Email</th>
                                       <th>Type</th>
                                       <th>Qualities</th>
                                       <th>Web Access</th>
                                       <th>Action</th>
                                    </thead>
                                    <tfoot>
                                    	<th><input type="checkbox" class="chk_all"</th>
                                        <th>Username</th>
                                       	<th>Email</th>
                                       	<th>Type</th>
                                       	<th>Qualities</th>
                                       	<th>Web Access</th>
                                       	<th>Action</th>
                                    </tfoot>
                                    
                                    <tbody id="documents_data">
                                    	
                                    </tbody>
                                </table>
                    </div>
				</div>
			<!-- right col -->
      	</div>
      <!-- /.row (main row) -->

    </section>
</div>
 
 <!--//Main Content--> 
	<!-- Footer Starts Here-->
	<% include include/footer %>
<!-- Footer Ends Here-->
<script src="js/bootstrap-toggle.min.js"></script>
<script src="js/basictable.js"></script>
<script type="text/javascript">
var searchStr="<%= keywordStr %>";

<% if (typeof authenticatedUser.access_right !== 'undefined' && authenticatedUser.access_right !== null) {	%>
var	access_right="<%= authenticatedUser.access_right %>";
<% }	else{	 %>
var access_right=0;
<% } %>

var xhrStatus;

var pageSize=15, totalNum=0, checkAllFlag= false;
var start=0, end=pageSize;
var accessRightCode=parseInt(access_right);

function clearPopup(){
	$('#ex_msg_suc').html(''); $('#ex_msg_err').html(''); $('#n_msg_err').html(''); $('#n_msg_suc').html(''); 
}

	function searchKeyword(e){
		var searchField= $("#"+e).val();
		if(searchField!=""){
			$("#"+e).removeClass("errorPlaceHolder");
			searchStr=searchField;
		}else{
			$("#"+e).addClass("errorPlaceHolder");
			$("#"+e).attr("placeholder" , "Please enter search term here");
			$("#"+e).focus();
			searchStr='';
		}
		
			$("#documents_data").html('');
			$('#display_more_btn').hide();
			$('#img_loading_div').show();
			start=0;
			end=start+pageSize;
			load_data();
	}
	
	function load_user_types(){
		
		var jsonRow=backendDirectory+"/api_fetch_list?start=0&limit=100&collection=user_types",
		xhrStatus=$.getJSON(jsonRow,function(html){
			if(html.error){
				
			}else{
				var contentHtml="<option value=''>All</option>";
				$.each(html.aaData, function(i,row){
					contentHtml+='<option value="'+row._id+'" >'+row.name+'</option>';
				});
				$("#player_type_uuid").html(contentHtml);
			}
		});
	}	
	
	function load_teams(){
		var jsonRow=backendDirectory+"/api_fetch_list?start=0&limit=100&collection=teams",
		xhrStatus=$.getJSON(jsonRow,function(html){
			if(html.error){
				
			}else{
				var contentHtml="";
				$.each(html.aaData, function(i,row){
					contentHtml+='<option value="'+row._id+'" >'+row.name+'</option>';
				});
				var loadTeamsStr="<option value=''>--Select--</option>"+contentHtml;
				
				$("#load_teams").html(loadTeamsStr);
				$("#teams_list").html(contentHtml);
			}
		});
	}	
$(document).ready(function() {
	load_user_types();
	load_teams();
	
    	$('#table').basictable();
    	
    	$('#display_more_btn').hide();
		$('#img_loading_div').show();
		load_data();
		
		$("#searchBtn").click(function()	{
			searchKeyword('searchField');
		});
		
		$('#searchField').keypress(function (e) {
  			if (e.which == 13) {
    			searchKeyword('searchField');
  			}
		});
		$("#searchBtn").click(function()	{
			searchKeyword('searchField');
		});
		
	$("#player_type_uuid").change(function()	{
		$('#table').basictable();
		$("#documents_data").html('');
		$('#display_more_btn').hide();
		$('#img_loading_div').show();
		start=0;
		end=start+pageSize;
		load_data();
	});
	
	$("#load_teams").change(function()	{
		$('#table').basictable();
		$("#documents_data").html('');
		$('#display_more_btn').hide();
		$('#img_loading_div').show();
		start=0;
		end=start+pageSize;
		load_data();
	});
		
	// toggle all checkboxes from a table when header checkbox is clicked
  	$(".chk_all").click(function () {
  		if ($(this).is(":checked")) {
			checkAllFlag=true;
			$('.chk_all').prop("checked", true);
  			$('.check').prop("checked", true);
  		} else {
			checkAllFlag=false;
			$('.chk_all').prop("checked", false);
  			$('.check').prop("checked", false);
  		}  		
  	});
  	
});

function timeConverter(UNIX_timestamp){
  var a = new Date(UNIX_timestamp * 1000);
  var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
  var year = a.getFullYear();
  var month = months[a.getMonth()];
  var date = a.getDate();
  var hour = a.getHours();
  var min = a.getMinutes();
  var sec = a.getSeconds();
  var time = month + ' ' + date + ' ' + year + ', ' + hour + ':' + min ;
  return time;
}

function refresh_data(){
	$('#table').basictable();
	searchStr="";
	$(".searchFieldClass").val("");
	$("#documents_data").html('');
	$('#display_more_btn').hide();
	$('#img_loading_div').show();
	start=0;
	end=start+pageSize;
	load_data();
}
function load_more(){
	$('#display_more_btn').hide();
	$('#img_loading_div').show();
	start=end;
	end=start+pageSize;
	load_data();
}
	
function allowWebAccess(e){
	var allow_web_access=0;
	if ($("#web_access_"+e).is(":checked")) {
		allow_web_access=1;
	}
	var jsonRow=backendDirectory+"/update_user_status?id="+e+"&allow_web_access="+allow_web_access;
	$.getJSON(jsonRow,function(response){
		console.log(response);
	});
}

	function load_data(){
		$(".alert").remove();
		var jsonRow=backendDirectory+"/api_fetch_players?start="+start+"&limit="+pageSize+"&s="+searchStr;
		if($("#player_type_uuid").val()!=="" && $("#player_type_uuid").val()!==null && $("#player_type_uuid").val()!=="null"){
			jsonRow+="&player_type_uuid="+$("#player_type_uuid").val();
		}
		if($("#load_teams").val()!=="" && $("#load_teams").val()!==null && $("#load_teams").val()!=="null"){
			jsonRow+="&team="+$("#load_teams").val();
		}
		if(xhrStatus) xhrStatus.abort();
		xhrStatus=$.getJSON(jsonRow,function(html){
			if(html.error){
				$(".topOptionsClass").hide();
				$("#table-breakpoint").before('<div class="alert alert-danger">'+html.error+'</div>');
			}else{
				
				var contentHtml="";
				
				if(html.aaData.length>0){
					$.each(html.aaData, function(i,row){
						var uniqueIDStr=row._id;
						contentHtml+="<tr>";
						if(checkAllFlag){
							contentHtml+='<td><input type="checkbox" class="check" checked value="'+uniqueIDStr+'"></td>';
						}else{
							contentHtml+='<td><input type="checkbox" class="check" value="'+uniqueIDStr+'"></td>';
						}
						
						contentHtml+='<td>'+row.firstname+' '+row.lastname+'</td>';
						contentHtml+='<td>'+row.email+'</td>';
						contentHtml+='<td>'+row.player_type+'</td>';
						contentHtml+='<td>'+row.player_qualities+'</td>';
						var checkedStr="";
						if(row.player_qualities==1 || row.player_qualities=="1"){
							checkedStr="checked";
						}
						contentHtml+='<td><input id="web_access_'+uniqueIDStr+'" type="checkbox" '+checkedStr+' class="toggleCheckbox" onChange="allowWebAccess(\''+uniqueIDStr+'\')"></td>';
						contentHtml+='<td class="actions-list"><a href="user?_id='+uniqueIDStr+'" title="Edit"><i class="fa fa-pencil"></i></a></td>';
						contentHtml+="</tr>";
					});
					$("#documents_data").append(contentHtml);
					
     				//
     				$('.toggleCheckbox').bootstrapToggle({
      					on: 'Yes',
      					off: 'No'
    				});
     			}else{
     				$("#documents_data").html("");
					$(".headFootClass").html("");
					$("#table-breakpoint").before('<div class="alert alert-danger">No more records found!</div>');
     			}
			}
			
					//initialize table
					$('#table').basictable();
	  				$('#table-breakpoint').basictable({
        				breakpoint: 751
     				});
     				
			if(end< totalNum){
				$('#display_more_btn').show();
			}
			$('#img_loading_div').hide();
			
		});
	}
	
	function __showAddPopup(){
		var selected='';
		$('.check').each(function(){
			if($(this).is(":checked")){
				if(selected==''){
					selected=$(this).val();
				}
				else{
					selected+=","+$(this).val();
				}
			}
		});
		
		if(selected!=''){
			$("#selectedRows").val(selected);
			$("#addTeam").modal('show');
			
		}else{
			$("#addTeam").modal('hide');
			__alertModalBox('Please select player(s) to add to team');
			$('#add_sets').val('');
		}
	}

function add_new_team(){
	var teamNameStr= $("#add_new_team").val();
	
	if(teamNameStr!=""){
		var selectedRowsStr= $("#selectedRows").val();
		if(selectedRowsStr!=""){
			var	selectedPlayersArr=selectedRowsStr.toString().split(",");
			var playersSortOrder=new Array();
			for(var i=0; i<selectedPlayersArr.length; i++){
				var subObject={};
				subObject['sort_order']=i+1;
				subObject['user_uuid']=selectedPlayersArr[i];
				subObject['uuid']=guid();
				playersSortOrder[i]=subObject;
			}
			var selectedPlayersStr= JSON.stringify(playersSortOrder);
			
			var postContentURL=backendDirectory+"/api_crud_get";
    		var uuidSystemStr=	"<% if (typeof authenticatedUser.active_system_uuid !== 'undefined' && authenticatedUser.active_system_uuid !== null && authenticatedUser.active_system_uuid !== "") {	 %><%= authenticatedUser.active_system_uuid %><% } %>";
			$.ajax({
				type: "GET",
				dataType: "json",
				url: postContentURL,
				data: {"collection" : "teams", "action" : "create", "fieldName" : "name", "fieldValue" : teamNameStr, "name" : teamNameStr, "players" : selectedPlayersStr, "uuid_system" : uuidSystemStr},
				success: function(response){
					if(response.success){
						$('#add_new_team').val('');
						$('#n_msg_suc').html(response.success);
						load_teams();
					}else if(response.error){
						$('#n_msg_err').html(response.error);
					}
				}
			});
		}else{
			$('#n_msg_err').html('Please select player(s) to add to team');
		}
	}else{
		$('#n_msg_err').html('Please enter new team name!');
	}
}

function add_to_existing_team(){
	var selectedTeamStr= $("#teams_list").val();
	
	if(selectedTeamStr!="" && selectedTeamStr!=null && selectedTeamStr!="undefined"){
		var selectedRowsStr= $("#selectedRows").val();
		if(selectedRowsStr!=""){
			var	selectedPlayersArr=selectedRowsStr.toString().split(",");
			var playersSortOrder=new Array();
			for(var i=0; i<selectedPlayersArr.length; i++){
				var subObject={};
				subObject['sort_order']=i+1;
				subObject['user_uuid']=selectedPlayersArr[i];
				subObject['uuid']=guid();
				playersSortOrder[i]=subObject;
			}
			var selectedPlayersStr= JSON.stringify(playersSortOrder);
			
			var postContentURL=backendDirectory+"/saveplayers";
    		$.ajax({
				type: "POST",
				dataType: "json",
				url: postContentURL,
				data: {"action" : "create", "subObjectName" : "players", "id" : selectedTeamStr, "aaData" : selectedPlayersStr},
				success: function(response){
					if(response.success){
						$('#add_new_team').val('');
						$('#ex_msg_suc').html(response.success);
						load_teams();
					}else if(response.error){
						$('#ex_msg_err').html(response.error);
					}
				}
			});
		}else{
			$('#ex_msg_err').html('Please select player(s) to add to team');
		}
	}else{
		$('#ex_msg_err').html('Please select team!');
	}
}
</script>

</body>
</html>
