
            						<input type="hidden" class="form-control" id="table_name" name="table_name" value="systems">
      								<input type="hidden" class="form-control" id="unique_field" name="unique_field" value="name">
      								<input type="hidden" class="form-control" id="id" name="id" value="<% if (typeof contentObj._id !== 'undefined' && contentObj._id !== null) { %><%= contentObj._id %><% } %>">
      								<input type="hidden" class="form-control" id="editorField" name="editorField" value="<% if (typeof editorField !== 'undefined' && editorField !== null) { %><%= editorField %><% }else{ %>_id<% } %>">
      								<input type="hidden" class="form-control" id="editorValue" name="editorValue" value="<% if (typeof editorValue !== 'undefined' && editorValue !== null) { %><%= editorValue %><% } %>">
            						<input type="hidden" class="form-control" id="data" name="data" value="">
            						
            						<input type="hidden" class="form-control" id="system_version" name="system_version" value="1">
            						<input type="hidden" class="form-control" id="uuid_created_by" name="uuid_created_by" value="<% if (typeof authenticatedUser._id !== 'undefined' && authenticatedUser._id !== null) {	%><%= authenticatedUser._id %><%	}	%>">
            						<div class="row">
            						<div class="col-xs-6"><div class="box box-primary">
            						<h4>Basic Details</h4>
            						<div class="box-body"><div class="row"><div class=" col-sm-12 col-lg-11">
            						<div class="form-group">
                  						<label class="control-label col-md-3" for="first-name">Name<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-7">
                    						<input type="text" required="required" id="name" name="name" class="form-control col-md-5 col-xs-12" value="<% if (typeof contentObj.name !== 'undefined' && contentObj.name !== null) { %><%= contentObj.name %><% } %>">
                  						</div>
                					</div>
                					 <div class="form-group" style="margin-top:10px;">
										<label class="col-sm-3 control-label">Established Date </label>
										<div class="col-md-6 col-lg-7">
										<div class="input-group date form_datetime " style="max-width:300px;" >
                    						<input class="form-control col-md-5 col-xs-12" required type="text" id="established_on" name="established_on" value="<% if (typeof contentObj.established_on !== 'undefined' && contentObj.established_on !== null) { %><%= contentObj.established_on %><% } %>" readonly>
                    						<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                						</div>
                						</div>
                            		</div>
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="">Organisation Type <span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-7">
                  							<select class="form-control col-md-5 col-xs-12" id="organisation_type" name="organisation_type">
                  								<option value="cricket_club" <% if (typeof contentObj.organisation_type !== 'undefined' && contentObj.organisation_type !== null  && contentObj.organisation_type == "cricket_club") { %>selected<% } %>>Cricket Club</option>
                  								<option value="business" <% if (typeof contentObj.organisation_type !== 'undefined' && contentObj.organisation_type !== null  && contentObj.organisation_type == "business") { %>selected<% } %>>Business</option>
                  							</select>
                  						</div>
                					</div>
              						
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="">Description</label>
                  						<div class="col-md-6 col-lg-7">
                   							<textarea class="form-control col-md-5 col-xs-12" row="10" id="description" name="description"><% if (typeof contentObj.description !== 'undefined' && contentObj.description !== null) { %><%= contentObj.description %><% } %></textarea>
                  						</div>
                					</div>
                					<div class="form-group">
    									<label for="" class="col-sm-3 control-label">Status</label>
    									<div class="col-sm-7" style="margin-top:6px;">
    										<div STYLE="margin-right:10px;display:inline-block;">
      		  									<label> <input type="radio" id="status" name="status" value="1" <% if (typeof contentObj.status !== 'undefined' && contentObj.status !== null && contentObj.status == 1) { %>checked<% } %> > <strong style="font-weight:600">Active</strong></label>
    			  							</div>
				  							<div STYLE="display:inline-block;">
      		  									<label> <input type="radio" id="status" name="status" value="0" <% if (typeof contentObj.status !== 'undefined' && contentObj.status !== null && contentObj.status == 0) { %>checked<% } %> > <strong style="font-weight:600">Inactive</strong></label>
    			  							</div>
										</div>
									</div>
                            		</div></div>
                            		</div></div></div>
							        <div class="col-xs-6"><div class="box box-primary">
							        <h4>Contact Details</h4>
            						<div class="box-body"><div class="row"><div class=" col-sm-12 col-lg-11">
							       		<div class="form-group">
                  						<label class="control-label col-md-3" for="">Address<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-9">
                   							<textarea required="required" class="form-control col-md-5 col-xs-12" row="4" id="address" name="address" ><% if (typeof contentObj.address !== 'undefined' && contentObj.address !== null) { %><%= contentObj.address %><% } %></textarea>
                  						</div>
                					</div>
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="">Telephone<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-7">
                  							<input type="text" required="required" class="form-control col-md-5 col-xs-12" id="telephone" name="telephone" value="<% if (typeof contentObj.telephone !== 'undefined' && contentObj.telephone !== null) { %><%= contentObj.telephone %><% } %>">
                  						</div>
                					</div>
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="">E-mail<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-7">
                   							<input type="text" required="required" class="form-control col-md-5 col-xs-12" id="email" name="email" value="<% if (typeof contentObj.email !== 'undefined' && contentObj.email !== null) { %><%= contentObj.email %><% } %>">
                  						</div>
                					</div>
                					<h3>Main contact</h3>
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="">Contact name <span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-7">
                   							<input type="text" required="required" class="form-control col-md-5 col-xs-12" id="contact_name" name="contact_name" value="<% if (typeof contentObj.contact_name !== 'undefined' && contentObj.contact_name !== null) { %><%= contentObj.contact_name %><% } %>">
                  						</div>
                					</div>
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="">Contact e-mail<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-7">
                   							<input type="text" required="required" class="form-control col-md-5 col-xs-12" id="contact_email" name="contact_email" value="<% if (typeof contentObj.contact_email !== 'undefined' && contentObj.contact_email !== null) { %><%= contentObj.contact_email %><% } %>">
                  						</div>
                					</div>
									</div></div>
                					</div></div></div>
                					</div>
                					<!--<div class="row">
            						<div class="col-xs-6"><div class="box box-primary">
            						<h4>SMTP Details</h4>
            						<div class="box-body"><div class="row"><div class=" col-sm-12 col-lg-11">
            						<div class="form-group">
                  						<label class="control-label col-md-3" for="first-name">Host</label>
                  						<div class="col-md-6 col-lg-7">
                    						<input type="text" id="smtp_host" name="smtp_host" class="form-control col-md-5 col-xs-12" value="<% if (typeof contentObj.smtp_host !== 'undefined' && contentObj.smtp_host !== null) { %><%= contentObj.smtp_host %><% } %>">
                  						</div>
                					</div>
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="first-name">Username</label>
                  						<div class="col-md-6 col-lg-7">
                    						<input type="text" id="smtp_username" name="smtp_username" class="form-control col-md-5 col-xs-12" value="<% if (typeof contentObj.smtp_username !== 'undefined' && contentObj.smtp_username !== null) { %><%= contentObj.smtp_username %><% } %>">
                  						</div>
                					</div>
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="first-name">Password</label>
                  						<div class="col-md-6 col-lg-7">
                    						<input type="password" id="smtp_password" name="smtp_password" class="form-control col-md-5 col-xs-12" value="<% if (typeof contentObj.smtp_password !== 'undefined' && contentObj.smtp_password !== null) { %><%= contentObj.smtp_password %><% } %>">
                  						</div>
                					</div>
                            		</div></div>
                            		</div></div></div>
                            		</div>-->
                					<div class="row">
                					<div class="col-xs-12">
                					<div class="form-group">
                   						<div class="col-md-9 col-lg-12" align="CENTER">
               								<div class="submit-btn-setting"> <button type="submit" class="btn btn-primary btn-color margin-right-5 btn-sm">Submit</button>
               								<% if (typeof contentObj._id !== 'undefined' && contentObj._id !== null) {	%>
               									<a href="<%= backendDirectory %>/list/systems" class="btn btn-danger btn-sm">Cancel</a>
               								<%	}else{	%>
               									<button type="reset" class="btn btn-danger btn-sm">Reset</button>
               								<% } %>
               								</div>
               							</div>
                					</div>
                					</div>
                					</div>