<% var pageTileStr= "", metaKeywordsStr= "", metaDescriptionStr="";
if (document_details.PageTitle) { 
pageTileStr= document_details.PageTitle;
}
if (document_details.MetaTagKeywords) { 
metaKeywordsStr= document_details.MetaTagKeywords;
}
if (document_details.MetaTagDescription) { 
metaDescriptionStr= document_details.MetaTagDescription;
}

%>

<%  include include/main-header %>

   <style type="text/css">
	.Heading-IE{
		font-size:26px;
		font-weight:normal;
		color:#B9003E;
		margin-bottom:20px;
	}
	.error{
		color: #b9003e!important;
		padding-left:5px;
	}
	#content form input {
   	 	height: 40px;
    	width: 325px;
    	padding-left: 5px;
    	margin-right: 5px;
	}
	</style> 
	<script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'caec0ae8-7693-4b77-a713-ed5c038c62c0'});</script>
	<script src="js/propelmobile-nifty-scripts.js"></script>
	<script type="application/javascript">
	$(document).ready(function() {
		if($.browser.msie){
			//$('.cross_platform_videos').hide();
			$('#what-can-jobshout-do').hide();
			$('.cross_platform_videos_alt_frame_class').show();
		}
	});
	</script>
</head>
<body>
<div id="wrapper">
	<% include include/header %>

	<div id="contentContainer" class="full-width">
		  	<!-- cookie law uk notice -->
			<% include include/cookie-law-notice %>
    		<!-- cookie law uk notice -->
    		
      	<div id="content">
      		<% if(document_details.Type=="blog" || document_details.Type=="news"){
      			var a = new Date(document_details.Created * 1000);
  				var months = ['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'];
  				var year = a.getFullYear();
  				var month = months[a.getMonth()];
  				var dateNum = a.getDate();
  				
  			%>
  				<div id="blogdate"><span id="blogdate-day"><%= dateNum %></span>&nbsp;<span id="blogdate-month"><%= month %></span></div><div style="height:5px;">&nbsp;</div>
      			<h1><%= document_details.Document %></h1>
      			<% if (typeof document_details.Title !== 'undefined' && document_details.Title !== null && document_details.Title != "") { %>
      				<h2><%= document_details.Title %></h2>
      			<% } %>
	  			<%- document_details.Body %>
	  			
	  			<% include include/facebook_like_button %>
      			<div id="blog-leavecomment"><h3>Comments</h3>
				<p><a href="#comments">
					<% if(document_details.Objects.length>=1) { %><%= document_details.Objects.length %> response<% } else{ %>No response<% } %>
    				</a> to <span id="blogcomment-title"><%= document_details.Document %></span></p>
 					<form id="blogComment" name="blogComment" method="post" action="" class="cmxform">
						<div id="blogform">
							<label>Leave a comment</label><br />
							<input id="blog_uuid" name="blog_uuid" type="hidden" value="<%= document_details._id %>">

							<textarea name="comment" rows="8" cols="43" id="comment" class="blogform-input-large"></textarea><br />
  							<label>Name (required)</label><br />
    							<input name="name" id="name" class="blogform-input" style="margin-bottom:10px;" value="" >
    							<br />
  							<label>Email (will not be published)</label><br />
    						<input name="email" id="email" class="blogform-input" value="" >
    							
						
					</div>
					<div id="buttonpurple"><br />
					<button class="submit" id="postBtn" type="submit" name="sendmail">Add Comment</button>
					</div>
					</form>
				</div>
				<%	if(document_details.BlogComments){
                		if(document_details.BlogComments.length>0){	%>
				<span id="blog_comments">
					<%	var objectArr=document_details.BlogComments;
      					for(var objCount=0; objCount<objectArr.length; objCount++){
                  			var subObject=objectArr[objCount];
                  			if(subObject.status==1){
                  				if(objCount==1){	%>
                  					<h3>Comments</h3>
                  			<%	}	%>
   					<div id="blog-comment">
        				<div id="blog-commentdetails">
           					<span id="blog-comment-date"><br />
           						<% if(subObject.modified){
                      				var modifiedDateStr = timeConverter(subObject.modified);	%>
                      				<%= modifiedDateStr %>
                      			<% } %>
                      		</span>
            				<p id="blog-comment-name"><b> <%= subObject.name %></b></p>
        				</div>
        				<div id="blog-commentarea"><p><strong></strong> <p><%= subObject.comment %></p></p></div>
    				</div>
    				<% }	
               		}	%>
    			</span>
      			<% }	
                }	%>
      		<%	}else{	%>
      			<h1><%= document_details.Document %></h1>
      			<% if (typeof document_details.Title !== 'undefined' && document_details.Title !== null && document_details.Title != "") { %>
      				<h2><%= document_details.Title %></h2>
      			<% } %>
	  			<%- document_details.Body %>
	  			<% if(document_details.Code=="faq"){
	  					if(document_details.Objects){
	  						for(var i=0; i<document_details.Objects.length; i++){
	  							if(document_details.Objects[i].status==1 || document_details.Objects[i].status=="1"){	%>
	  							<h2><%- document_details.Objects[i].name %></h2>
	  							<%- document_details.Objects[i].content %>
	  					<%		}
	  						}	  					
	  					}
	  			}else if(document_details.Code=="company-information"){	 
	  				if(document_details.Objects){
	  				for(var i=0; i<document_details.Objects.length; i++){
	  							if(document_details.Objects[i].status==1 || document_details.Objects[i].status=="1"){	%>
	  							<%- document_details.Objects[i].content %>
	  					<%		}
	  						}	  					
	  					}
	  			} %>
	  			<% include include/linkedin_share_button %>
	  		<% }	%>
	  		
	  	</div>
	</div>
</div>

   	<!--footer start-->
    <% include include/footer %>
    <!--footer end-->

       <script>
       var typeStr='<%= document_details.Type %>';
function timeConverter(UNIX_timestamp){
  var a = new Date(UNIX_timestamp * 1000);
  var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
  var year = a.getFullYear();
  var month = months[a.getMonth()];
  var date = a.getDate();
  var hour = a.getHours();
  var min = a.getMinutes();
  var sec = a.getSeconds();
  var time = month + ' ' + date + ' ' + year + ', ' + hour + ':' + min ;
  return time;
}

$(document).ready(function() {
	if(typeStr=="news"){	
		load_blogs();
	} 
	if(typeStr=="blog"){	
	load_news();
	}
	
	$("#blogComment").validate({
		rules: {
			name: "required",
			email: {
				required: true,
				email: true
			},
			comment: "required",
			blog_uuid : "required"
		},
		messages: {
			name: "Please enter your name",
			email: {
				required: "Please enter your E-mail",
				email: "Please enter valid E-mail"
			},
			comment: "Please leave your message!",
			blog_uuid: "Required Field!"
		},
		submitHandler: function(form) {
			$(".alert").remove();
    		$("#postBtn").html("Posting your comment...");
    		$("#postBtn").prop("disabled",true);
    		$.ajax({
				type: "POST",
				url: "saveblogcomment",
				headers : { "cache-control": "no-cache" },
				data: {'blog_uuid' : $("#blog_uuid").val(), 'name' : $("#name").val(), 'email' : $("#email").val(), 'comment' : $("#comment").val() },
				dataType: "json",
				cache: false,
				success: function(response){
					$("#postBtn").html("Add Comment");
    				$("#postBtn").prop("disabled",false);
    				$('#blogComment').trigger("reset");
					if(response.success){
						$("#blogComment").before('<div class="alert" style="font-size:16px; color: green;">'+response.success+'</div>');
					}else if(response.error){
						$("#blogComment").before('<div class="alert"  style="font-size:16px; color: #CC0000;">'+response.error+'</div>');
					}
				}
			});
		}
	});
});
	function load_blogs(){
		var jsonRow="/search-results?start=1&&type=blog&limit=5",
		xhrStatus=$.getJSON(jsonRow,function(html){
			if(html.error){
				$("#newsContent").html('<li><i class="fa fa-angle-double-right pr-10"></i>No latest news available!</li>');
				//$("#newsContent").hide();
			}else{
				
				var contentHtml="<h3>Latest Blog Post</h3>";
				$.each(html.aaData, function(i,row){
					if(row.Code!=""){
						var defaultImg="images/welcome.jpg";
						if(row.virtualFields){
							defaultImg=row.virtualFields['image_path'];
						}
						contentHtml+='<div class="media">';
                		contentHtml+='<a class="pull-left" href="/'+row.Code+'" title="'+row.Document+'"><img width="80" height="81" onerror="this.src=\'images/welcome.jpg\'" src="'+defaultImg+'"></a>';
                		contentHtml+='<div class="media-body">';
                  		contentHtml+='<h5 class="media-heading">';
                    	contentHtml+='<a href="/'+row.Code+'" title="'+row.Document+'">'+timeConverter(row.Created)+'</a>';
                  		contentHtml+='</h5>';
                  		contentHtml+='<p>'+row.Document+'</p>';
                		contentHtml+='</div>';
              			contentHtml+='</div>';
					}
				});
				$("#blogContent").html(contentHtml);
			}
		});
	}

	function load_news(){
		var jsonRow="/search-results?start=1&&type=news&limit=5",
		xhrStatus=$.getJSON(jsonRow,function(html){
			if(html.error){
				$("#newsContent").html('<li><i class="fa fa-angle-double-right pr-10"></i>No latest news available!</li>');
				//$("#newsContent").hide();
			}else{
				
				var contentHtml="";
				$.each(html.aaData, function(i,row){
					if(row.Code!=""){
						contentHtml+='<li><a href="/'+row.Code+'" title="'+row.Document+'">';
                    	contentHtml+='<i class="fa fa-angle-double-right pr-10"></i>'+row.Document+'<a>';
                   		contentHtml+='</li>';
					}
				});
				$("#newsContent").html(contentHtml);
			}
		});
	}

	
	</script>
</body>
</html>